#sync {
	width: calc(100% - 100px);
	margin: 20px auto 0 auto;
}

#sync .status {
    border: 1px dashed silver;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 7px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: consolas;
    font-size: 14px;
}

#directories {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 0 5px;
}

#directories > li {
	display: inline-block;
	background-color: #c36b38;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 0 2px;
	color: white;
	vertical-align: -2px;
	font-size: 14px;
}

#not-indexed-videos {
	list-style: none;
	padding: 0;
	margin: 0;
}

#not-indexed-videos > li {
	float: left;
	border-radius: 5px;
	margin: 3px;
	padding: 5px 8px;
    color: #043c09;
    border: 1px dashed silver;
    cursor: url('/icons/play.svg'), auto;
}
