#tag-categories {
	width: calc(100% - 100px);
	margin: 20px auto 0 auto;

	&.dragging .tag-category * {
		pointer-events: none;
	}

	#buttons {
		margin-top: 10px;

		.action-button {
			margin-right: 10px;
		}
	}

	#status {
		white-space: pre-wrap;
		max-height: 300px;
		overflow-y: auto;
		border: 1px dashed silver;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
	}
}
